body {
  font-family: arial;
  background-color: green;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

a{ color: #333; text-decoration: none }

h2 {
  margin: 0;
  background-color: #eee;
  padding: 5px;
  font-size: 1.2em;
}

.artigo {
  border: 1px solid black;
  background-color: white;
  color: black;
  margin-bottom: 15px;
}

.conteudo {
  padding: 10px;
}

.pequeno{ font-size: 11px; }