{% extends 'base.html' %}

{% block titulo %}{{ artigo.titulo }} - {{ block.super }}{% endblock %}

{% block h1 %}{{ artigo.titulo }}{% endblock %}

{% block conteudo %}

  <div class="artigo">
    <h2>{{ artigo.titulo }}</h2>

    <div class="conteudo">
      {{ artigo.conteudo }}
      <p class="pequeno">Publicado há {{ artigo.publicacao|timesince }}</p>
    </div>
  </div>

{% endblock %}