<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Blog do Flisol{% endblock %}</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style.css"/>
</head>
<body>

    <h1>{% block h1 %}{% endblock %}</h1>

    {% block conteudo %}{% endblock %}

</body>
</html>