{% extends 'base.html' %}

{% block titulo %}Início - {{ block.super }}{% endblock %}

{% block h1 %}Blog do Flisol{% endblock %}

{% block conteudo %}

    {% for artigo in artigos %}
      <div class="artigo">
        <a href="{{ artigo.get_absolute_url }}"><h2>{{ artigo.titulo }}</h2></a>

        <div class="conteudo">
          {{ artigo.conteudo }}
          <p class="pequeno">Publicado há {{ artigo.publicacao|timesince }}</p>
        </div>
      </div>
    {% empty %}
        <div class="artigo">
        <div class="conteudo">
          Nenhum artigo foi publicado...
        </div>
      </div>
    {% endfor %}

{% endblock %}